.upload_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    max-width: 80vw;
    height: 500px;
    max-height: 80vh;
    border-radius: 20px;
    text-align: center;
    padding: 1rem;
    box-shadow: 0px 4px 12px 0px #0000001A;

}

.placeholder{
    width: 50%;

}

.drop_icon{
    font-size: 5rem;

}

.drop_section{
    width: 80%;
    height:250px;
    max-height: 40%;
    border: dotted;
    border: 4px dotted #97BEF4;
    border-radius: 20px;
    background-color: #F6F8FB;
    ;
    padding: 20px;
    color: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.button_filepicker{
    background: #2F80ED;
    border: none;
    border-radius: 10px;
    padding: 15px;
    color: white;

}

